@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: "Open Sans", sans-serif ,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      outline: none;
      
}
.choo{
    margin-left: 20px;
}
.choo h1{
    margin-top: 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 500;
}
.choo p{
    font-size: 20px;
    color: rgb(23,23,84);
}
.nav-tabs,.tab-content{
    margin-left: 20px;
    margin-bottom: 50px;
}
.tab-content{
    border: 1px solid gray;
    padding: 10px;
}
.nav-item{
    font-weight: 600;
    color: black;
}
.nav-link{
    /* color: black; */
}
.ex{
    background-color: rgb(0, 253, 241);
border: none;
    padding: 10px;
    font-weight: 600;
}
.ex:hover{
    background-color: white;
}
.card{
    border: none;
}
.card-text{
    font-size: 13px;
}
.card-body h6{
font-weight: 700;
}
.stars{
    display: inline-flex;
}
.stars p{
    font-weight: 500;
}
.stars, .st{
    color: rgb(180,105,14);
    font-size: 13px;
}
.stars, .noms{
    color: black;
    font-weight: 300;
}
.price{
    font-size: 16px;
    font-weight: 600;
}
.owl-theme{ 
    margin-top: 20px;
    justify-content: space-between;
}
.card, img{
    max-width: 100%;
    max-height: 100%;
}
.awon{
    display: flex;
}
.views{
    padding-left: 20px;
    padding-right: 20px ;
}
@media screen and (max-width: 798px) {
    .awon{
        display: block;
    }
    .views{
        margin-left: 30px;
    }
}
